[defaults]
host_key_checking = false
fact_caching = jsonfile
fact_caching_connection = /tmp/fact_cache
library = library
gather_facts = true
private_key_file = ~/.ssh/ansible_key
interpeter_python = auto

[connection]
pipelining = true 

[ssh_connection]
pipelining = true
